.container {
  min-width: 640px;
  min-height: 450px;
}
.target {
  position: absolute;
  min-width: 680px;
  height: fit-content;
}

.url-search {
  display: flex;
  background-color: Canvas;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 25px 0px 25px;
  min-width: 650px;
  min-height: 70px;
}
.youtube-icon {
  font-size: 40px;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
}
.url-input {
  width: 60%;
  height: 30px;
  margin: auto;
}

.youtube-widget {
  display: flex;
  background-color: Canvas;
  border-radius: 0px 0px 10px 10px;
  padding: 0px 20px 20px 20px;
  min-width: 650px;
  min-height: 400px;
  height: fit-content;
}

.video-container {
  width: 100%;
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 100%;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.moveable-control {
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border: 15px solid transparent !important;
  box-sizing: border-box;
  background: transparent !important;
  margin-top: -7px;
  margin-left: -7px;
  z-index: 10;
}

.moveable-line {
  position: absolute;
  width: 1px;
  height: 1px;
  width: 100%;
  height: 100%;
  transform-origin: 0px 0.5px;
  border-color: transparent !important;
  background: transparent !important;
}
